.container {
  display: grid;
  grid-template-columns: var(--aside-width) 1fr;
  grid-template-rows: var(--nav-height) 1fr;

  position: relative;
  min-height: 100vh;
  width: 100%;
  font-size: 1.6rem;
}

.aside {
  grid-column: 1 / 2;
  grid-row: 1/ -1;

  position: relative;
  width: var(--aside-width);
  min-height: 100vh;
  background-color: var(--bg-rg);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}

.aside > * {
  padding: 0.5rem 0;
}

.aside > *:hover {
  filter: brightness(0.9);
}

.aside .hover {
  right: 2rem;
  top: 2rem;

  background-color: white;
  box-shadow: 1rem 1rem lightgrey;

  border: 1px solid var(--border-rg);
}

.aside .close {
  grid-column: 0;
  visibility: collapse;
}

.aside .toggleIcon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3rem;
  height: 3rem;
}

.main {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  justify-self: center;

  padding: 3rem;
}

.nav {
  grid-row: 1 /2;
  grid-column: 2/ -1;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-weight: 600;
  padding: 1rem 3rem;
}
